.main-container{
	width: 400px;
	margin: 50px auto 0 auto;
}

.main-container .box{
	width: 100px;
	height: 100px;
	font-size: 50px;
	color: white;
	text-align: center;
	cursor: pointer;
}

.main-container .box:hover{
	background: rgb(174, 244, 255);
	color: white;
}

#box1, #box2, #box4, #box5, #box7, #box8 {
	border-right: 2px solid #000;
}

#box1, #box2, #box3, #box4, #box5, #box6 {
	border-bottom: 2px solid #000;
}